@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Movie Store</h1>
    <p class="lead">
        This dynamic website is a online movie store rental system, through which one can do CRUD functions on the movies and customers, 
        and add new rentals.
    </p>
    <p>
        <a href="https://github.com/kflili/mvcMovieStore" role="button" class="btn btn-success">
            <i class="fa fa-github fa-lg" aria-hidden="true"></i> Source code on GitHub
        </a>
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2><i class="fa fa-trophy"></i> Achievement</h2>
        <ul>
            <li>Used Code first approach to create data models using Entity framework 6</li>
            <li>Created RESTful Service using ASP.NET Web API </li>
            <li>Built Responsive UI on client side with jQuery and Bootstrap</li>
            <li>Implemented both client side and server side validations</li>
            <li>Applied authentication and authorization using ASP.NET Identity</li>
            <li>Enabled OAuth for Facebook social acount login</li>
        </ul>
    </div>

    <div class="col-md-4">
        <h2><i class="fa fa-book"></i> Technologies</h2>
        <ul>
            <li>ASP.NET MVC 5</li>
            <li>Entity framework 6</li>
            <li>HTML5, CSS3, JavaScript, jQuery, Bootstrap</li>
            <li>C# Programming with LINQ</li>
            <li>Version control with Git in development</li>
            <li>Deployment to Azure Web Service</li>
        </ul>
    </div>

    <div class="col-md-4">
        <h2><i class="fa fa-briefcase"></i> Tools</h2>
        <ul>
            <li>Visual Studio 2017</li>
            <li>SQL Express LocalDB</li>
            <li>IIS express</li>
            <li>NuGet Package Manager</li>
            <li>GitHub extension in VS2017</li>
            <li>Windows Azure platform</li>
        </ul>
    </div>
</div>