<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://mvcmoviestore.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>mvcmoviestore.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>mvcMovieStore</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$mvcMovieStore</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:mvcmoviestoredemo.database.windows.net,1433;Initial Catalog=mvcMovieStore;User ID=kflili@mvcmoviestoredemo.database.windows.net;Password=D323113ab" Name="Data Source=tcp:mvcmoviestoredemo.database.windows.net,1433;Initial Catalog=mvcMovieStore;User Id=kflili@mvcmoviestoredemo.database.windows.net;Password=D323113ab" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="mvcMovieStore.Models.ApplicationDbContext, mvcMovieStore" MigrationConfiguration="mvcMovieStore.Migrations.Configuration, mvcMovieStore" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:mvcmoviestoredemo.database.windows.net,1433;Initial Catalog=mvcMovieStore;User Id=kflili@mvcmoviestoredemo.database.windows.net;Password=D323113ab</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>