@model mvcMovieStore.Models.Customer
@{
    ViewBag.Title = Model.Name;
}

<h2>@Model.Name</h2>

<p>Membership Type: @Model.MembershipType.Name</p>
@if (Model.Birthdate.HasValue)
{
    <p>Birthday: @Model.Birthdate.Value.ToShortDateString()</p>
}

